---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Slug from "./artists/[slug].astro";

const data = await fetch(
  "https://sgavxerkmhmstpzpgpuw.supabase.co/rest/v1/artists",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNnYXZ4ZXJrbWhtc3RwenBncHV3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjk2Nzk1MzksImV4cCI6MjA0NTI1NTUzOX0.h5Aqaz-Bt1qlt5_JDw3pKLp83L8YA5XWG57VRB15LRw",
    },
  }
).then((res) => res.json());

console.log(data);
---

<MainLayout>
  <h1 class="listeview_h1">TORSDAG 30 MAJ</h1>
  <h2>EVENTS & ARTISTS</h2>

  <div class="listeview">
    <div class="liste1">
      <p>14.30-15.00</p>
      <p>PUSH THE BUTTON</p>
      <p>14.30-15.00</p>
      <p>BODYSLAM</p>
      <p>15.00-16.00</p>
      <p>LES DEUX BASKET COURT</p>
    </div>

    <div>
      {
        data.map((artist) => (
          <div class={artist.slug}>
            <a href={`artists/${artist.slug}`}>
              <img src={artist.og_image} alt={artist.title} />
              <h4>{artist.title}</h4>
            </a>
          </div>
        ))
      }
    </div>

    <div class="liste2">
      <p>20.00-22.00</p>
      <p>MORMOR DISTORTION</p>
      <p>22.00-00.00</p>
      <p>ALORS ON DANSE</p>
      <p>22.00-00.00</p>
      <p>FRISØRSHJUL AF DOOM</p>
      <p>23.00-00.00</p>
      <p>PØLSEMIX</p>
      <p>23.30-01.00</p>
      <p>ARKADE JAM BIP BIP BAR</p>
    </div>

    <div class="liste3">
      <p>00.00-02.00</p>
      <p>BEAT THE STREET</p>
      <p>00.00-02.00</p>
      <p>POP UP STREET THEATRE DE SCENESTE</p>
      <p>02.00-03.00</p>
      <p>LANGBORDSMIDDAG</p>
      <p>23.00-00.00</p>
      <p>STREET BALLET</p>
    </div>

    <div class="liste4">
      <p>22.00-23.00</p>
      <p>DONT STOP MOVING</p>
      <p>00.00-03.00</p>
      <p>BASEBALLS HIT`N`RUN</p>
    </div>

    <h1 class="artister">NØRREBRO</h1>
  </div>
</MainLayout>

<style>
  .listeview {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  h1 {
    color: #e53014;
    text-align: center;
  }

  h2 {
    color: #ff932f;
    text-align: center;
  }
  p {
    color: #e53014;
  }

  .artister {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    grid-column: 3;
    grid-row: 1;
    text-align: left;
  }

  .liste2 {
    grid-column: 2;
    grid-row: 2;
  }

  .liste3 {
    grid-column: 1;
    grid-row: 3;
  }

  .liste4 {
    grid-column: 1;
  }

  .artigeardit {
    grid-column: 2;
    grid-row: 1;
  }

  .goldie {
    grid-column: 1;
    grid-row: 3;
  }

  img {
    width: 350px;
  }

  .gobs {
    grid-row: 3;
  }
</style>
